body {
    background-color: black;
}

.underline-h1 {
    text-decoration: underline;
  }

  /* styles.css */

  
  .accordion-custom {
    background-color: #fff; /* White background for the accordion */
    color: #000;
  }
  
  .accordion-custom .accordion-header {
    background-color: #000; /* Black background for the header */
    color: #fff; /* White text for the header */
  }
  
  .accordion-custom .accordion-body {
    background-color: #fff; /* White background for the body */
    color: #000;
  }

  :root {
    --cui-accordion-btn-bg: #000; /* Black background for the accordion button */
    --cui-accordion-bg: #fff; /* White background for the accordion body */
  }

  .CAccordionHeader {
    background-color: #000; /* Black background for the accordion header */
    color: #fff; /* White text for the accordion header */
  }

  div .CAccordionHeader {
    background-color: #000; /* Black background for the accordion header */
    color: #fff; /* White text for the accordion header */
  }

